.login {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../assets/bg/loginBG.jpeg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginTitleItem {
  font-size: 50px;
}

.loginSubmitButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  display: flex;
}

.loginSubmitButton:focus {
  outline-style: none;
}

.loginSubmitButton:hover {
  background-color: white;
  color: lightcoral;
  border: 1px solid lightcoral;
  padding: 9px;
}

.loginAlert {
  background-color: lightcoral;
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
  color: white;
  font-size: 12px;
}

.loginLinks {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.loginLink > .MuiSvgIcon-root {
  font-size: 30px;
  cursor: pointer;
  margin-right: 10px;
  color: rgb(99, 145, 145);
}

.loginRegisterButton {
  cursor: pointer;
  background-color: teal;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.loginRegisterButton:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
  padding: 9px;
}

.loginRegisterButton:focus {
  outline-style: none;
}